.about-top-container {
  background-color: #f4f1de;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 10%;
}

.about-top-right {
  width: 40%;
  color:#3d405b;
  display: flex;
  flex-direction: column;
}

.about-top-left {
 width: 50%;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
}

.aboutDeco {
  width: 90%;
  position: relative;
}

.yeyehImg {
width: 60%;
position: absolute;
z-index: 3;

animation-name: yeyeh;
animation-duration: 2s;
animation-iteration-count: infinite;
}

@keyframes yeyeh {
  0% {transform: rotate(0);}
  50% {transform: rotate(20deg);}
  100% {transform: rotate(0);}
}


.about-top-title {
 font-weight: bold;
}

.about-top-text {
  margin-top: 8%;
 }

 .experience-container {
   display: flex;
   flex-direction: row;
   position: relative;
 }

 .experience-left {
   background-color: #3d405b;
   padding: 6% ;
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   
 }

 #experience-img {
   width:80%;
 }

.experience-left-title {
  color: white;
  margin-bottom: 10%;
  font-weight: bold;
}

.experience-right {
  width: 60%;
  color:#3d405b;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-title {
  display: flex;
  flex-direction: row;
  align-items: center; 
}
.dot {
  width: 10%;
  position: relative;
  right: 5%;
}

.experience-right-title {
 font-weight: bold;
}


.experience-right-text {
  margin: 0 10%;
}

.personal-skill-container {
  background-color: #f4f1de;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-title {
  font-weight: bold;
  color: #3d405b;
  width: 90%;
  margin: 5% 0;
}

.skills-container{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 width: 90%;
 margin: 5% 0 20% 0;

}

.design-container{
  width: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.file-title {
  background-color: #C4C4C4;
  font-weight: bold;
  color: white;
  text-align: center;
  width:80%;
  position: relative;
  padding: 10% 0 70% 0;
  border-radius: 15%;
}

.design-file-container {
  background-color: #81B29A;
  border-radius: 40% 15% 15% 15%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top:35%;
  width:100%;
  align-items: center;
}

.file-list {
  margin: 15% 0;
}

.file-item {
 color: #3d405b;
 margin: 12% 0;
 font-weight: bold;
 white-space: nowrap;
}

.coding-container{
  width: 25%;
  position: relative;
  display: flex;
  flex-direction: column;

}

.coding-file-container {
  background-color: #E07A5F;
  border-radius: 40% 15% 15% 15%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top:35%;
  width:100%;
  align-items: center;
}

#plusImage {
  width: 10%;
}

.others-container{
  width: 20%;
  position: relative;
  display: flex;
  flex-direction: column;

}

.others-file-container {
  background-color: #3d405b;
  border-radius: 40% 15% 15% 15%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top:30%;
  width:100%;
  align-items: center;
}

.others-file-item {
  color: white;
  margin: 15% 0; 
  font-weight: bold;
}

#design {
  animation: design-file 4s;
  animation-iteration-count: infinite;
}

/*
@keyframes design-file {
0%{top:15%;}
100%{top:0;}
}
*/

#coding {
  animation: coding-file 4s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
}

/*
@keyframes coding-file {
0%{top:15%;}
100%{top:0%;}
}
*/