@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: #3d405b;
  text-decoration: none; 
}

html {
  z-index: 0;
  overflow-x: hidden;
}

.f1 {
  font-size: 1.5vw;
}

.f2 {
  font-size: 2vw;
}

.f3 {
  font-size: 3vw;
}

.f4 {
  font-size: 3.5vw;
}

.f5 {
  font-size: 5vw;
}


.z1 {
  position: relative;
  z-index: 1;
}

.z2 {
  position: relative;
  z-index: 2;
}

.mt {
  margin-top: 20px;
}

.mb {
  margin-bottom: 5%;
}

.container {
  width: 80%;
  padding: 0 10%;
}

.nav-container {
  background-color: #f4f1de;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  justify-content: space-between;
  color: #3d405b;
  align-items: center;
}

.nav-name {
  font-weight: bold;
}

.pointer:hover {
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%
}

.button {
  border: 3px solid #3d405b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: bold;
  width: 20%;
  padding: 10px 0;
}

.active {
  border: 0px solid #b3b4bd;
}

.button:hover {
  cursor: pointer;
}

.button:link , .botton:visited {
  text-decoration: none;
  color: #3d405b;
}

.footer-container {
  width: 100%;
  background-color: #F2CC8F;
  color: #3d405b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-top {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.footer-top-mobile {
  width: 80%;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.footer-contact-mobile {
  margin-left: 20px;
}

.footer-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
}

.footer-top-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
}

.footer-top-right {
  display: flex;
  align-items: flex-end;
  width: 40%;
  justify-content: flex-end;
  margin-top: 10%;
}

.footer-top-right-mobile {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 40%;
  justify-content: stretch;
  margin-top: 10%;
}

.footer-image-container {
  width: 20%;
  margin: 5%;
}

.footer-text {
  font-weight: bold;
}

.footer-text-mobile {
  font-weight: bold;
  font-size: 18px;
  padding-top: 10px;
}


.footer-button {
  border:3px solid #3d405b;
  font-weight: bold;
  width: 30%;
  padding: 2%;
  text-align: center;
  margin: 2%;
}

.footer-button-mobile {
  border:3px solid #3d405b;
  font-weight: bold;
  font-size: 12px;
  width: 80%;
  padding: 2%;
  text-align: center;
  margin: 5%;
}


.footer-copyright {
  padding-top: 1%;
  font-size: 1vw;
}

.footer-copyright-mobile {
  padding-top: 1%;
  font-size: 3vw;
}

#footerLine {
  width: 80%;
}

.mobile-menu-item {
  color: white;
  font-family: 'Noto Sans', sans-serif;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 10px 5px;
  margin: 10px 0;
  width: 90%;
}

.mobile-menu-item:link , .mobile-menu-item:visited {
  text-decoration: none;
  color: white;
}

.mobile-menu-item-active {
  border: 0px solid #b3b4bd;
}