.contact-container {
    background-color: #f4f1de;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-container-left {
    background-color: white;
    width: 40%;
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-container-right {
    background-color: #3d405b;
    width: 40%;
    margin: 3% 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-part {
    position: relative;
    display: flex;
    justify-content: center;
}

.contactPhotoBackground {
    width: 80%;
    position: relative;
    margin-top: 20%;
}

.contactPhoto {
    width: 70%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.envelope-animation {
    position: absolute;
    top: 25%;
    left: 68%;
    transform: rotate(16deg);
    width: 25%;
}

.contact-content-text {
    color: #3d405b;
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
}

.contact-webside-group {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    padding: 5%;
}

.contact-web {
    display: grid;
    grid-template-columns: 40% 40%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.web-icon {
    width: 80%;
}

.web-name {}

.dribbble {
    color: #B7207A;
}

.linkedin {
    color: #3987CA;
}

.contact-title {
  margin: 10% 0;
  width: 70%;
}

.contact-form {
    width: 70%;
}

.contact-item-box {
    width: 97%;
    padding: 10px 5px;
}

.contact-item {
    margin-bottom: 10%;
}

.contact-item-error {

}

.contact-item-name {
    margin-bottom: 2%;
}

.contact-item-message-box {
    width: 97%;
    resize: none;
    padding: 10px 5px;
}

.contact-button-container {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.contact-button {
    border: solid 3px white;
    text-align: center;
    margin: 10% 0;
    padding: 3% 10%;
    font-weight: bold;
}

.contact-button:hover {
    cursor: pointer;
}

.send-button {
  width: 100px;
}