.mobile-contact-container {
  background-color: #f4f1de;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mobile-contact-info {
  display: flex;
  flex-direction: column;
}

.mobile-contact-message-container {
  background-color: #3d405b;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-contact-image{
  position: relative;
  display: flex;
  justify-content: center;
}

.mobile-contactPhotoBackground {
  width: 80%;
  position: relative;
  margin-top: 20%;
}

.mobile-contactPhoto {
  width: 70%;
  position: absolute;
  top: 10%;
  left: 10%;
}

.mobile-envelope-animation {
  position: absolute;
  top: 25%;
  left: 68%;
  transform: rotate(16deg);
  width: 25%;
}

.mobile-contact-content-text {
  color: #3d405b;
  text-align: center;
  font-weight: bold;
  padding: 5%;
}

.mobile-contact-webside-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mobile-web-icon {
 width:15%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.mobile-contact-title {
margin: 10% 0;
width: 70%;
}

.mobile-contact-form {
  width: 70%;
}

.mobile-contact-item-box {
  width: 97%;
  padding: 10px 5px;
}

.mobile-contact-item {
  margin-bottom: 10%;
}

.mobile-contact-item-name {
  margin-bottom: 2%;
}

.mobile-contact-item-message-box {
  width: 97%;
  resize: none;
  padding: 10px 5px;
}

.mobile-contact-button-container {
  width: 70%;
  display: flex;
  justify-content: center;
}

.mobile-contact-button {
  border: solid 3px white;
  text-align: center;
  margin: 10% 0;
  padding: 3% 10%;
  font-weight: bold;
}

.mobile-contact-button:hover {
  cursor: pointer;
}

.mobile-send-button {
width: 70%;
}