.projects-container {
  background-color: #f4f1de;
}

.ui-projects-container{
  padding: 10% 0;
  color: #3d405b;
}

.ui-projects-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ui-project0 {
  background-color: #E07A5F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  width:20%;
}

.uiWeb-title {
  font-weight: bold;
  padding-bottom: 10%;
}

.uiWeb-text {
  font-size:1rem;
}

#workNee {
  width:72%;
} 
#uiWorkIcon {
  width: 80%;
}

.ui-project-text-container {
  display: flex;
  flex-direction: row;
}

.ui-project-text {
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: space-;
  align-items: flex-end;
  padding: 2%;
}

.project-name {
  font-weight: bold;
}

.project-tool {
  font-size: 20px;
}

#workBike {
  width:49%;
}

#workFurniture {
  width:49%;
}

#workNote {
  width: 100%;
}

#workRecipe {
  width:49%;
}

#workCafe{
  width:49%;
}

.other-design-container {
  background-color: #3d405b;
  padding:10%;
}

.other-design-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5% 0;
}

#title-box {
  background-color: #C4C4C4;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

#otherWorkIcon {
  width: 60%;
}

#worKIcon {
  width: 60%;
}

.other-design-title {
  font-weight: bold;
  color: #3d405b;
  padding: 5% 11% 8% 11%;
}

.other-design-text-containter {
  
}

.other-design-text {
  font-weight: bold;
  color: white;
  text-align: right;
  margin-bottom: 3%;
}

.workLine {
  width: 100%;
}

#worKHaobao {
  width: 55%;
}

#worKBienyeh {
  width: 41%;
}

#calendar {
  width: 100%;
}
